packages:
  yum:
    postgresql: []
    postgresql-devel: []
    postgresql-libs: []

commands:
  01_enable_epel_repo:
    command: "amazon-linux-extras install epel -y"
  02_install_postgresql:
    command: "yum install -y postgresql postgresql-server postgresql-devel postgresql-contrib postgresql-docs"
  03_initialize_postgresql:
    command: "service postgresql initdb"
  04_enable_postgresql:
    command: "chkconfig postgresql on"
