Resources:
  AWSEBRDSDatabase:
    Type: "AWS::RDS::DBInstance"
    Properties:
      AllocatedStorage: 10
      DBInstanceClass: "db.t3.micro"
      Engine: "postgres"
      EngineVersion: "13.3"
      MasterUsername: "sportsm_admin"
      MasterUserPassword: "poolpool123"
      DBName: "sportsm_production"
      VPCSecurityGroups:
        - {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
